<p>Team Ultimate Robots</p>
<div class="row">
    <div class="column">
        <div className="card2">
            <img src='https://robohash.org/6' alt="robots"/>
            <h2>Number One</h2>
         <div>
    </div>
    <div class="column">
        <div className="card2">
            <img src='https://robohash.org/5' alt="robots"/>
            <h2>Number Two</h2>
        <div>
    </div>
    <div class="column">
        <div className="card2">
            <img src='https://robohash.org/7' alt="robots"/>
            <h2>Number Three</h2>
        <div>
    </div>
    <div class="column">
        <div className="card2">
            <img src='https://robohash.org/8' alt="robots"/>
            <h2>Number Four</h2>
        <div>
    </div>
  </div>